#divControles{
    width:25%;  
    float:left;
    background-color: #83A9D9;
}
#divControles div {
    text-align: center;
    margin:2 auto;
    padding: 5px;
}
#divDemo{   
    width:70%;
    float:right;
    background: beige;
}

.cambios{
    margin-right: 25%;
}
#A{
    background-color: red;
    border: 2px solid black;
    padding: 12%;
    margin: 0 auto;
    width: 60%;
}
#B{
    background-color: greenyellow;
    border: 2px solid black;
    padding: 12%;
    margin: 0 auto;
    width: 60%;
}
label {display: inline-block;
       width: 5em}
.divAB {

}
